
.main_logo > img{
    width: 200px;
    height: 200px;
}
.main_logo > img:hover{
	width: 250px;
	height: 250px;
}

.edition{
	display: flex;
	width: 100%;
	justify-content: center;
	color: rgba(0, 0, 0, 0.8);
}
.edition>h3{
	background-color: rgba(255, 255, 255, 0.3);
	padding: 0.2rem;
	margin: 0px;
	box-shadow: -1px -1px 25px black;
}

.main_title {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: fit-content;
	letter-spacing: 1px;
	line-height:1.3;
	margin: 0px;
	padding: 0px;
}
.subtitle{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_title > h1, .main_title > h2 {
	background-image: url("../../Data/IMAGES/Namebg.gif");
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 300%;
    font-weight: 1000;
	margin: 10px 0;
	-webkit-text-stroke: 2px rgb(0, 0, 0);
	/* box-shadow: 15px 15px 15px black; */

}
.main_title > h2:hover {
	font-size: 350%;
}