
.main_logo > img{
    width: 200px;
    height: 200px;
}


.main_title {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 20vh;
	letter-spacing: 1px;
	line-height:2
}

.main_title > h1 {
	background-image: url("../../Data/IMAGES/Namebg.gif");
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 300%;
    font-weight: 1000;
	margin: 10px 0;
	-webkit-text-stroke: 2px rgb(0, 0, 0);

}