.ProfileList{
    padding: 1rem;
}

.member_profile_img{
    width: 100px;
    height: 100px;
}
.users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
}
.One_Profile{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    width: min-content;
}
.One_Profile>p{
    width: max-content;
}
.member_name{
    font-weight: bold;
    margin-bottom: 0rem;
}
.phn_icon{
    width: 25%;
    height: 25%;
}
.phn_details{
    gap: 1rem;
}

@media only screen and (max-width: 768px){
    .users{
        gap: 1rem;
    }
}