.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("./Data/IMAGES/Background.jpeg");
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex_row{
  display: flex;
  flex-direction: row;
}

.flex_col{
  display: flex;
  flex-direction: column;
}
.center{
  justify-content: center;
  align-items: center;
}
.ProfileList, .Events, .About{
  background-color: rgba(14, 212, 103, 0.4);
  background: linear-gradient(75deg,rgba(255, 0, 0, 0.4),rgba(0, 0, 255, 0.4),rgba(0, 128, 0, 0.4));
}
.Home{
  /* background-color: rgba(0, 0, 0, 0.454); */
}